*~
*.npy
*.npz
*.pt
*.pdf
*.png
data/*
experiments/*
prp/*
*.pth

*/__pycache__/*
.DS_Store

*.pyc
*.pyo

*.ipynb_checkpoints

*playground.py
*playground.ipynb
nohup.out

*.pkl
*.pkl.bz2
*.parquet

slurm-*.out

.vscode

models

*.root

logs

env
