default_language_version:
    python: python3.8
exclude: ^(delphes/tev14_pythia8_*.)|^(images/)|^(clic/dumper_hepsim.py)

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: check-added-large-files
  - id: check-ast
  - id: check-json
  - id: check-merge-conflict
  - id: check-xml
  - id: check-yaml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: requirements-txt-fixer
  - id: mixed-line-ending
    args: ['--fix=no']

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
  - id: isort
    args: ['--profile', 'black', '--filter-files']

- repo: https://github.com/psf/black
  rev: 22.6.0
  hooks:
  - id: black-jupyter
    language_version: python3
    args: [--line-length=125]

- repo: https://github.com/PyCQA/flake8
  rev: 3.9.2
  hooks:
  - id: flake8
    # black-compatible flake-8 config
    args: ['--max-line-length=125',  # github viewer width
           '--extend-ignore=E203,W605']  # E203 is not PEP8 compliant
