awkward
boost_histogram
click
comet-ml
fastjet
keras
keras-tuner
matplotlib
mplhep
networkx
nevergrad
notebook
onnxruntime
pandas
papermill
pre-commit
pyarrow
ray[default]
ray[tune]
scikit-learn
scikit-optimize
scipy
seaborn
setGPU
tensorflow==2.10.1
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-probability
tensorflow-text
tf-models-official
tf2onnx
tqdm
uproot
vector
zenodo_get
