awkward
boost_histogram
click
comet-ml
fastjet
keras
keras-tuner
matplotlib
mplhep
networkx
nevergrad
notebook
onnxruntime
pandas
papermill
pre-commit
pyarrow
ray[default]==1.6.0
ray[tune]==1.6.0
scikit-optimize
scipy
seaborn
setGPU
sklearn
tensorflow==2.9.1
tensorflow-addons
tensorflow-datasets
tensorflow-estimator
tensorflow-probability
tensorflow-text
tf-models-official
tf2onnx
tqdm
uproot
vector
zenodo_get
