apache-beam
array-record
autopep8
awkward
boost_histogram
click
comet-ml
fastjet
fsspec
jupyter
jupyter-book
keras
keras-tuner
matplotlib
mlcroissant
mplhep
networkx
notebook
numba
numpy
onnx
onnxruntime
pandas
papermill
plotly
pre-commit
protobuf
pyarrow
pytest
ray[tune]
scikit-learn
scikit-optimize
scipy
seaborn
setGPU
tensorflow-datasets
torch
torch_runstats
torchaudio
torchvision
tqdm
uproot
vector
zenodo_get
