<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Template: White (12.2)</string>
	<string>M13.1-7037.0.101-2</string>
	<string>G-r1310-13B121</string>
</array>
</plist>
