awkward
boost_histogram
bayesian-optimization
click
comet-ml
dill
fastjet
future
gviz-api
matplotlib
mplhep
networkx
nevergrad
notebook
onnx
onnxruntime
pandas
papermill
pre-commit
promise
pyarrow
ray[default]==1.6.0
ray[tune]==1.6.0
scikit-optimize
scipy
seaborn
setGPU
sklearn
tensorflow-probability
tensorflow-hub
tensorflow-metadata
tensorflow-estimator
tensorflow_datasets==4.3.0
tensorboard_plugin_profile
tensorflow-addons
tqdm
typeguard
uproot
vector
zenodo_get
