autopep8
awkward
bayesian-optimization
boost_histogram
click
comet-ml
dill
fastjet
fsspec
future
gviz-api
matplotlib
mplhep
networkx
nevergrad
notebook
numba
onnx
onnxruntime
pandas
papermill
plotly
pre-commit
promise
protobuf==3.19.6
pyarrow
ray[default]==1.6.0
ray[tune]==1.6.0
scikit-learn
scikit-optimize
scipy
seaborn
setGPU
tensorboard_plugin_profile
tensorflow-addons
tensorflow-datasets==4.8.0
tensorflow-estimator
tensorflow-hub
tensorflow-metadata
tensorflow-probability
tqdm
typeguard
uproot
vector
zenodo_get
