autopep8
awkward
bayesian-optimization
boost_histogram
click
comet-ml
dill
fastjet
future
gviz-api
matplotlib
mplhep
networkx
nevergrad
notebook
numba
onnx
onnxruntime
pandas
papermill
plotly
pre-commit
promise
pyarrow
ray[default]==2.5.1
ray[tune]==2.5.1
scikit-optimize
scipy
seaborn
setGPU
sklearn
tensorboard_plugin_profile
tensorflow-addons
tensorflow-estimator
tensorflow-hub
tensorflow-metadata
tensorflow-probability
tensorflow_datasets==4.8.0
tqdm
typeguard
uproot
vector
zenodo_get
