name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

  workflow_dispatch:

jobs:
  test-in-container:
    runs-on: ubuntu-latest
    container:
      image: pytorch/pytorch:2.9.1-cuda13.0-cudnn9-runtime

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache pip packages
        uses: actions/cache@v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Install wget
        run: |
          apt-get update && apt-get install -y wget gcc g++ build-essential

      - name: Run tests
        run: ./scripts/local_test_torch.sh
