name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  clic-pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Install python deps
        run: |
          pip install -r requirements.txt
      - name: Run delphes TF model
        run: ./scripts/local_test_clic_pipeline.sh

  delphes-pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Install python deps
        run: |
          pip install -r requirements.txt
          HOROVOD_WITH_TENSORFLOW=1 pip install horovod[tensorflow,keras]
      - name: Run delphes TF model
        run: ./scripts/local_test_delphes_pipeline.sh

  cms-pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - uses: actions/setup-python@v4
        with:
          python-version: '3.8'
      - name: Install python deps
        run: |
          pip install -r requirements.txt
          HOROVOD_WITH_TENSORFLOW=1 pip install horovod[tensorflow,keras]
      - name: Run CMS TF model using the pipeline
        run: ./scripts/local_test_cms_pipeline.sh
