name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  delphes-pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install python deps
        run: |
          sudo apt install python3 python3-pip wget
          sudo python3 -m pip install --upgrade pip
          sudo python3 -m pip install --upgrade setuptools
          sudo python3 -m pip install tensorflow==2.9 setGPU \
            sklearn matplotlib boost_histogram mplhep pandas scipy uproot \
            awkward vector fastjet keras-tuner networkx \
            tensorflow-probability tensorflow-addons \
            tqdm click tensorflow-datasets 'ray[default]'==1.6.0 'ray[tune]==1.6.0' \
            tf-models-official tensorflow-text \
            tf2onnx onnxruntime zenodo_get seaborn scikit-optimize nevergrad \
            tensorflow-estimator keras \
            HOROVOD_WITH_TENSORFLOW=1 sudo python3 -m pip install horovod[tensorflow,keras] \
            notebook papermill
          git submodule init
          git submodule update
      - name: Run delphes TF model
        run: ./scripts/local_test_delphes_pipeline.sh

  cms-pipeline:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install python deps
        run: |
          sudo apt install python3 python3-pip wget
          sudo python3 -m pip install --upgrade pip
          sudo python3 -m pip install --upgrade setuptools
          sudo python3 -m pip install tensorflow==2.9 setGPU \
            sklearn matplotlib boost_histogram mplhep pandas scipy uproot \
            awkward vector fastjet keras-tuner networkx \
            tensorflow-probability tensorflow-addons \
            tqdm click tensorflow-datasets 'ray[default]'==1.6.0 'ray[tune]==1.6.0' \
            tf-models-official tensorflow-text \
            tf2onnx onnxruntime zenodo_get seaborn scikit-optimize nevergrad \
            HOROVOD_WITH_TENSORFLOW=1 sudo python3 -m pip install horovod[tensorflow,keras] \
            tensorflow-estimator keras \
            notebook papermill
          git submodule init
          git submodule update
      - name: Run CMS TF model using the pipeline
        run: ./scripts/local_test_cms_pipeline.sh
